<%= simple_form_for @sample, defaults: { input_html: { class: 'form-horizontal', role: "form"  } }  do |f| %>
  <% if @sample.errors.any? %>
    <%= show_noty({message: 'preencha todos os campos necessários'}) %>
  <% end %>  

  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :phone, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zipcode, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :zipcode, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :street, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :street, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :number, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :number, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :neighborhood, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :neighborhood, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :city, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :state, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :state, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :complement, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :complement, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :birthday, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.date_select :birthday, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :picture, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :picture, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cpf, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :cpf, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rg, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :rg, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
