<%= simple_form_for @sample, defaults: { input_html: { class: 'form-horizontal', role: "form"  } }  do |f| %>
  <% if @sample.errors.any? %>
    <%= show_noty({message: 'preencha todos os campos necessários'}) %>

    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <ul>
      <% @sample.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :first_name, placeholder: 'Digite seu nome' %>
  <%= f.input :last_name, placeholder: 'Digite seu sobrenome' %>
  <%= f.file_field :picture %>
  <%= f.input :cpf, placeholder: '000.000.000-00' %>
  <%= f.input :rg, placeholder: '00.000.000-0' %>
  <%= f.input :birthday, placeholder: 'dd / mm / aaaa', as: :string, input_html: { 'data-provide': "datepicker"} %>
  <%= f.input :phone, placeholder: '(00) 00000-0000' %>
  <%= f.input :email, placeholder: 'email@exemplo.com' %>
  <%= f.input :zipcode, as: :zipcode, placeholder: '00000-000' %>
  <%= f.input :street, as: :street, placeholder: 'Digite o nome da rua' %>
  <%= f.input :number, placeholder: 'Digite o número' %>
  <%= f.input :neighborhood, as: :neighborhood, placeholder: 'Digite o nome do bairro' %>
  <%= f.input :city, as: :city, placeholder: 'Digite o nome da cidade' %>
  <%= f.input :state, as: :state, placeholder: 'Digite o nome do estado' %>
  <%= f.input :complement, placeholder: 'Digite o nome do complemento (se houver)' %>
  
  <%= f.submit class: "btn btn-primary" %>

<% end %>
