<%= simple_form_for @sample, defaults: { input_html: { class: 'form-horizontal', role: "form"  } }  do |f| %>
  <% if @sample.errors.any? %>
    <%= show_noty({message: 'preencha todos os campos necessários'}) %>
  <% end %>  

  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :first_name, placeholder: 'Digite seu nome', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :last_name, placeholder: 'Digite seu sobrenome', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :phone, placeholder: '(00) 00000-0000', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :email, placeholder: 'email@exemplo.com', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zipcode, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :zipcode, placeholder: '00000-000', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :street, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :street, placeholder: 'Digite o nome da rua', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :number, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :number, placeholder: 'Digite o número', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :neighborhood, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :neighborhood, placeholder: 'Digite o nome do bairro', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :city, placeholder: 'Digite o nome da cidade', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :state, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :state, placeholder: 'Digite o nome do estado', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :complement, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :complement, placeholder: 'Digite o nome do complemento (se houver)', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :birthday, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.date_select :birthday, placeholder: 'dd / mm / aaaa', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :picture, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :picture, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cpf, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :cpf, placeholder: '000.000.000-00', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rg, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :rg, placeholder: '00.000.000-0', class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
